[safe]
	directory = /var/www/vhosts/maxusvanparts.co.uk/shane.maxusvanpaerts.co.uk
	directory = /var/www/vhosts/maxusvanparts.co.uk/shane.maxusvanparts.co.uk
[user]
	email = bluefieldmediasa@gmail.com
	name = Shane
